django-cors-headers
gunicorn
boto3
python-dotenv
asgiref==3.8.1
cffi==1.17.1
Django==5.1.2
django-appconf==1.0.6
django-fsm==2.8.1
django-tus==0.5.0
djangorestframework==3.15.2
drf-tus==2.0.2
et_xmlfile==2.0.0
Faker==30.8.1
jsonfield==3.1.0
numpy==2.1.2
openpyxl==3.1.5
packaging==24.1
pandas==2.2.3
pathvalidate==2.3.0
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
isodate==0.7.2
word2number==1.1
celery==5.4.0
redis==5.2.0
